@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rammetto One';
    text-align: center;
}

html {
    min-height: 100vh;
  }

  body {
    background-image: url(../images/background.jpg);

  }

  h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 5vh;
    text-transform: uppercase;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    color: #E3A0A5;
  }
  
  .game-score-container {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / -1;
   
  }

  .game-score {
    font-size: 20px;
    color: #E3A0A5;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
}

.memory-card {
    position: relative;
    cursor: pointer;
    height: 105px;
    width: 105px;
    transform: scale(1);
}

.memory-card:active {
  transform: scale(.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}


.front-card,
.back-card {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100px;
  width: 100px;
  background: black;
  border-radius: 10px;
  padding: 4px;
}

.front-card {
  transform: rotateY(180deg);
}

.bottom-btn {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-right: 2px;
  color: #000000;
  border: 2px solid black;
  padding: 8px 30px;
  font-size: 18px;
  background: #E3A0A5;
  cursor: pointer;
  border-radius: 10px;
}



 


